:root {
    --primary-color: #6edae6;
    --appliance-on: #808040
    --white-color: #fff;
    --black-color: #000;
    --gray-color:#cccccc;
    --icon-primary: #000080;
    --icon-secondary: #800000;
    --close-bar: red;
    --content-bg-color: #ffffff
  }
